<odoo>
    <menuitem id="menu_webmail_root" name="E-Mail" sequence="1"/>
    <menuitem id="menu_webmail_accounts" name="Mail Accounts" parent="menu_webmail_root" action="action_mail_account" sequence="1"/>
    <record id="action_mail_account" model="ir.actions.act_window">
        <field name="name">Mail Accounts</field>
        <field name="res_model">mail.account</field>
        <field name="view_mode">tree,form</field>
    </record>
</odoo>