<odoo>
    <menuitem id="menu_webmail_root" name="Webmail"/>
    <menuitem id="menu_webmail_accounts" name="Mail Accounts" parent="menu_webmail_root" action="action_mail_account"/>
    <menuitem id="menu_webmail_compose" name="Compose Mail" parent="menu_webmail_root" action="action_compose_mail"/>
</odoo>